/* |Put a border around everything| */

* {
    border: 1px solid red;
}

* {
    flex-grow: 0;
    flex-shrink: 0;
}

/* |Colors fonts and sizes [First-Box]| */

body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    background-color: black;
}

.first-box {
    background-color: #1F2937;
    padding-left: 400px;
    padding-right: 400px;
    padding-bottom: 70px;
    height: auto;
}

.header {
    padding: 0;
    margin: 0;
}

.headerlogo, .title, .button {
    color: #F9FAF8;
}

.link, .title-subtext {
    color: #E5E7EB;
    font-size: 18px;
}

.headerlogo {
    font-size: 24px;
}

.title {
    width: 350px;
    font-size: 48px;
    font-weight: bolder;
    height: 60px;
}

.title-subtext {
    width: 450px;
}

.button {
    background-color: #3882F6;
    font-size: 20px;
    font-weight: bold;
    width: 140px;
    height: 42px;
    border-radius: 12px;
}

.catimg {
    width: 600px;
    height: 200px;
}

.header, .middle1 {
    width: auto;
}

.sides {
    width: 1200px;
}

/* |Flexbox [First-Box]| */

.first-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sides {
    display: flex;
    flex-direction: column;
}

/* Header Toolbar */
li {
    display: inline;
    padding-inline: 10px;
}

.header {
    display: flex;
    justify-self: flex-start;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

/* Middle content and img */

.middle1 {
    display: flex;
    justify-self: center;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-top: 10%;
}

.info {
    display: flex;
    flex-direction: column;
}


/* ---------------------------BREAK--------------------------- */


/* |Colors fonts and sizes [Second-Box]| */

.second-box {
    background-color: #F9FAF8;
    text-align: center;
    height: 110%;
}

.second-box-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.blankimg-subtext {
    font-size: 18px;
    color: #677894;
}

.blankimg {
    width: 180px;
    height: auto;
    border-radius: 12px;
}

/* |Flexbox [Second-Box]| */

.second-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 35px;

}


.middle2 {
    display: flex;
    justify-content: center;
}

.imgsub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 30px;
}

.blankimg-subtext {
    display: flex;
    flex-wrap: wrap;
    width: 180px;
    margin-top: 10px;
}


/* ---------------------------BREAK--------------------------- */


/* |Colors fonts and sizes [Third-Box]| */
/* |Flexbox [Third-Box]| */